html, body {
    background: black;
    margin: 0;
}
#Portfolio {width: 4500px; margin: 0 auto;}
#Portfolio .header {
    display: flex;
    align-items: center;
    background: black;
    padding: 20px;
    justify-content: space-between;
}
#Portfolio .header h1 {height:250px;}
#Portfolio .header h1 img {width:250px;}
#Portfolio .header .main-nav {}
#Portfolio .header .main-nav a {
    margin-right: 100px; color: white; font-size: 4.5rem; margin-left: 100px;
    font-weight: bold;
    transition: 0.3s;
}
#Portfolio .header .main-nav a:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px;
}
#Portfolio .sub-nav {display: flex; background: #000; height: 300px;}
#Portfolio .sub-nav a.current {font-size: 5rem; color:#fff; margin: 0 auto;}
#Portfolio .sub-nav a.previous {font-size: 4rem; color: #fff; margin-right: 300px;}
#Portfolio .works {
    background: black;
    display: flex; flex-flow: column;
    align-items: center;
}
#Portfolio .works .card {
    display: flex;
    align-items: center;
    border: 1px solid #aaa; width:100%;
    padding: 100px;
    border-radius: 50px; margin-bottom: 100px;
    background: rgba(152, 148, 148, 0.24);
    transition: 0.3s;
}
#Portfolio .works .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px;
}
#Portfolio .works .card img {width: 600px;}
#Portfolio .works .card .text {}
#Portfolio .works .card .text h3 {color: #fff; font-size: 5rem; margin-left: 70px;}
#Portfolio .works .card .text p {color: rgb(154, 152, 152); font-size: 4.5rem; margin-left: 70px;}
#Portfolio .works .card .text a {
    color: #000; font-size: 4rem; line-height: 3; margin-left: 70px;
    border: 1px solid black;
    padding: 5px 10px;
    background: rgb(179, 179, 164);
    border-radius: 20px;
}
#Portfolio footer {
    display: flex;
}
#Portfolio footer .footer-inner {
    background: rgba(233, 224, 224, 0.435); margin-top: 100px;
    width: 100%;
}
#Portfolio footer .footer-inner .right {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
#Portfolio footer .footer-inner .right a {font-size: 3rem;}
#Portfolio footer .footer-inner p {font-size: 3rem;}

